// Colours partial

// Text colours
$txt-primary: rgba(3, 3, 3, 0.6);
// body font
$txt-secondary: #17181a;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
$accent-color:#372428;   //#e8ca6f
// global accent colour
$accent-color-hover: #6B6290; //#d3b56a
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #1d1e20;
$h3-color: #1d1e20;
$h5-color: #1d1e20;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;